.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* PAGE 1 */
.page1 {
  background: #f7c6d9;
  text-align: center;
}

.intro-img {
  width: 140px;
  border-radius: 12px;
  margin: 10px;
}

.intro-text {
  font-size: 18px;
  margin: 20px;
}

.start-btn {
  padding: 12px 28px;
  border-radius: 24px;
  border: none;
  font-size: 16px;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
}

/* PAGE 2 */
.page2 {
  background: #f7c6d9;
}
