body {
  margin: 0;
  background: #f7c6d9;
  font-family: Arial, sans-serif;
}

/* Page layout */
.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Card */
.card {
  background: white;
  width: 65%;
  max-width: 420px;
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.intro-img {
  height: 140px;          /* fixed height */
  width: auto;            /* width adapts */
  /* max-width: 45%; */
  border-radius: 14px;
  margin: 8px;
  object-fit: cover;      /* prevents distortion */
}


.intro-text {
  font-size: 18px;
  margin: 20px 0;
}

.start-btn {
  padding: 12px 28px;
  border-radius: 24px;
  border: none;
  font-size: 16px;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
}

/* Page 2 */
.cat-img {
  width: 90px;
  margin-bottom: 15px;
}

.buttons {
  margin-top: 20px;
  position: relative;
  height: 50px;
}

button {
  padding: 10px 24px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

#yes {
  background: #ff4d6d;
  color: white;
}

#no {
  background: #ddd;
  position: absolute;
}

.hint {
  margin-top: 15px;
  font-size: 14px;
}
